<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-zakat-heading" jhiTranslate="zakatReminderApp.zakat.home.createOrEditLabel">Create or edit a Zakat</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.zakat.dueAmount" for="field_dueAmount">Due Amount</label>
                    <input type="number" class="form-control" name="dueAmount" id="field_dueAmount"
                           formControlName="dueAmount"/>
                    <div *ngIf="editForm.get('dueAmount')!.invalid && (editForm.get('dueAmount')!.dirty || editForm.get('dueAmount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dueAmount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dueAmount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.zakat.remainingAmount" for="field_remainingAmount">Remaining Amount</label>
                    <input type="number" class="form-control" name="remainingAmount" id="field_remainingAmount"
                           formControlName="remainingAmount"/>
                    <div *ngIf="editForm.get('remainingAmount')!.invalid && (editForm.get('remainingAmount')!.dirty || editForm.get('remainingAmount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('remainingAmount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('remainingAmount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.zakat.userExtra" for="field_userExtra">User Extra</label>
                    <select class="form-control" id="field_userExtra" name="userExtra" formControlName="userExtra">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userExtraOption.id === editForm.get('userExtra')!.value?.id ? editForm.get('userExtra')!.value : userExtraOption" *ngFor="let userExtraOption of userextras; trackBy: trackById">{{ userExtraOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
