<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="zakat">
            <h2><span jhiTranslate="zakatReminderApp.zakat.detail.title">Zakat</span> {{ zakat.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="zakatReminderApp.zakat.dueAmount">Due Amount</span></dt>
                <dd>
                    <span>{{ zakat.dueAmount }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.zakat.remainingAmount">Remaining Amount</span></dt>
                <dd>
                    <span>{{ zakat.remainingAmount }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.zakat.userExtra">User Extra</span></dt>
                <dd>
                    <div *ngIf="zakat.userExtra">
                        <a [routerLink]="['/user-extra', zakat.userExtra?.id, 'view']">{{ zakat.userExtra?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/zakat', zakat.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
