<div>
    <h2 id="page-heading">
        <span jhiTranslate="zakatReminderApp.period.home.title">Periods</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-period" [routerLink]="['/period/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zakatReminderApp.period.home.createLabel">
            Create a new Period
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="periods?.length === 0">
        <span jhiTranslate="zakatReminderApp.period.home.notFound">No periods found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="periods?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="beginDate"><span jhiTranslate="zakatReminderApp.period.beginDate">Begin Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endDate"><span jhiTranslate="zakatReminderApp.period.endDate">End Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duration"><span jhiTranslate="zakatReminderApp.period.duration">Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="taxable"><span jhiTranslate="zakatReminderApp.period.taxable">Taxable</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="zakat.id"><span jhiTranslate="zakatReminderApp.period.zakat">Zakat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userExtra.id"><span jhiTranslate="zakatReminderApp.period.userExtra">User Extra</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let period of periods ;trackBy: trackId">
                    <td><a [routerLink]="['/period', period.id, 'view']">{{ period.id }}</a></td>
                    <td>{{ period.beginDate | date:'mediumDate' }}</td>
                    <td>{{ period.endDate | date:'mediumDate' }}</td>
                    <td>{{ period.duration }}</td>
                    <td>{{ period.taxable }}</td>
                    <td>
                        <div *ngIf="period.zakat">
                            <a [routerLink]="['/zakat', period.zakat?.id, 'view']" >{{ period.zakat?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="period.userExtra">
                            <a [routerLink]="['/user-extra', period.userExtra?.id, 'view']" >{{ period.userExtra?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/period', period.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/period', period.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(period)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="periods?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
