<div>
    <h2 id="page-heading">
        <span jhiTranslate="zakatReminderApp.beneficiary.home.title">Beneficiaries</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-beneficiary" [routerLink]="['/beneficiary/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zakatReminderApp.beneficiary.home.createLabel">
            Create a new Beneficiary
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="beneficiaries?.length === 0">
        <span jhiTranslate="zakatReminderApp.beneficiary.home.notFound">No beneficiaries found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="beneficiaries?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span jhiTranslate="zakatReminderApp.beneficiary.firstName">First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span jhiTranslate="zakatReminderApp.beneficiary.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phoneNumber"><span jhiTranslate="zakatReminderApp.beneficiary.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adress"><span jhiTranslate="zakatReminderApp.beneficiary.adress">Adress</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="otherDetails"><span jhiTranslate="zakatReminderApp.beneficiary.otherDetails">Other Details</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userExtra.id"><span jhiTranslate="zakatReminderApp.beneficiary.userExtra">User Extra</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let beneficiary of beneficiaries ;trackBy: trackId">
                    <td><a [routerLink]="['/beneficiary', beneficiary.id, 'view']">{{ beneficiary.id }}</a></td>
                    <td>{{ beneficiary.firstName }}</td>
                    <td>{{ beneficiary.lastName }}</td>
                    <td>{{ beneficiary.phoneNumber }}</td>
                    <td>{{ beneficiary.adress }}</td>
                    <td>{{ beneficiary.otherDetails }}</td>
                    <td>
                        <div *ngIf="beneficiary.userExtra">
                            <a [routerLink]="['/user-extra', beneficiary.userExtra?.id, 'view']" >{{ beneficiary.userExtra?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/beneficiary', beneficiary.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/beneficiary', beneficiary.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(beneficiary)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="beneficiaries?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
