<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="beneficiary">
            <h2><span jhiTranslate="zakatReminderApp.beneficiary.detail.title">Beneficiary</span> {{ beneficiary.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="zakatReminderApp.beneficiary.firstName">First Name</span></dt>
                <dd>
                    <span>{{ beneficiary.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.beneficiary.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ beneficiary.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.beneficiary.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ beneficiary.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.beneficiary.adress">Adress</span></dt>
                <dd>
                    <span>{{ beneficiary.adress }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.beneficiary.otherDetails">Other Details</span></dt>
                <dd>
                    <span>{{ beneficiary.otherDetails }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.beneficiary.userExtra">User Extra</span></dt>
                <dd>
                    <div *ngIf="beneficiary.userExtra">
                        <a [routerLink]="['/user-extra', beneficiary.userExtra?.id, 'view']">{{ beneficiary.userExtra?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/beneficiary', beneficiary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
