<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bank-account-heading" jhiTranslate="zakatReminderApp.bankAccount.home.createOrEditLabel">Create or edit a Bank Account</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.bankAccount.bankName" for="field_bankName">Bank Name</label>
                    <input type="text" class="form-control" name="bankName" id="field_bankName"
                           formControlName="bankName"/>
                    <div *ngIf="editForm.get('bankName')!.invalid && (editForm.get('bankName')!.dirty || editForm.get('bankName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bankName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.bankAccount.bankAdress" for="field_bankAdress">Bank Adress</label>
                    <input type="text" class="form-control" name="bankAdress" id="field_bankAdress"
                           formControlName="bankAdress"/>
                    <div *ngIf="editForm.get('bankAdress')!.invalid && (editForm.get('bankAdress')!.dirty || editForm.get('bankAdress')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bankAdress')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.bankAccount.rib" for="field_rib">Rib</label>
                    <input type="number" class="form-control" name="rib" id="field_rib"
                           formControlName="rib"/>
                    <div *ngIf="editForm.get('rib')!.invalid && (editForm.get('rib')!.dirty || editForm.get('rib')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('rib')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('rib')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
