<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="balance">
            <h2><span jhiTranslate="zakatReminderApp.balance.detail.title">Balance</span> {{ balance.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="zakatReminderApp.balance.balanceAmount">Balance Amount</span></dt>
                <dd>
                    <span>{{ balance.balanceAmount }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.balance.balanceDate">Balance Date</span></dt>
                <dd>
                    <span>{{ balance.balanceDate }}</span>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.balance.bankAccount">Bank Account</span></dt>
                <dd>
                    <div *ngIf="balance.bankAccount">
                        <a [routerLink]="['/bank-account', balance.bankAccount?.id, 'view']">{{ balance.bankAccount?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="zakatReminderApp.balance.period">Period</span></dt>
                <dd>
                    <div *ngIf="balance.period">
                        <a [routerLink]="['/period', balance.period?.id, 'view']">{{ balance.period?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/balance', balance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
