<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-balance-heading" jhiTranslate="zakatReminderApp.balance.home.createOrEditLabel">Create or edit a Balance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.balance.balanceAmount" for="field_balanceAmount">Balance Amount</label>
                    <input type="number" class="form-control" name="balanceAmount" id="field_balanceAmount"
                           formControlName="balanceAmount"/>
                    <div *ngIf="editForm.get('balanceAmount')!.invalid && (editForm.get('balanceAmount')!.dirty || editForm.get('balanceAmount')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('balanceAmount')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('balanceAmount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.balance.balanceDate" for="field_balanceDate">Balance Date</label>
                    <div class="input-group">
                        <input id="field_balanceDate" type="text" class="form-control" name="balanceDate" ngbDatepicker #balanceDateDp="ngbDatepicker" formControlName="balanceDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="balanceDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('balanceDate')!.invalid && (editForm.get('balanceDate')!.dirty || editForm.get('balanceDate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('balanceDate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.balance.bankAccount" for="field_bankAccount">Bank Account</label>
                    <select class="form-control" id="field_bankAccount" name="bankAccount" formControlName="bankAccount">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bankAccountOption.id === editForm.get('bankAccount')!.value?.id ? editForm.get('bankAccount')!.value : bankAccountOption" *ngFor="let bankAccountOption of bankaccounts; trackBy: trackById">{{ bankAccountOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="zakatReminderApp.balance.period" for="field_period">Period</label>
                    <select class="form-control" id="field_period" name="period" formControlName="period">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="periodOption.id === editForm.get('period')!.value?.id ? editForm.get('period')!.value : periodOption" *ngFor="let periodOption of periods; trackBy: trackById">{{ periodOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
