<div>
    <h2 id="page-heading">
        <span jhiTranslate="zakatReminderApp.balance.home.title">Balances</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-balance" [routerLink]="['/balance/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="zakatReminderApp.balance.home.createLabel">
            Create a new Balance
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="balances?.length === 0">
        <span jhiTranslate="zakatReminderApp.balance.home.notFound">No balances found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="balances?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="balanceAmount"><span jhiTranslate="zakatReminderApp.balance.balanceAmount">Balance Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="balanceDate"><span jhiTranslate="zakatReminderApp.balance.balanceDate">Balance Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bankAccount.id"><span jhiTranslate="zakatReminderApp.balance.bankAccount">Bank Account</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="period.id"><span jhiTranslate="zakatReminderApp.balance.period">Period</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let balance of balances ;trackBy: trackId">
                    <td><a [routerLink]="['/balance', balance.id, 'view']">{{ balance.id }}</a></td>
                    <td>{{ balance.balanceAmount }}</td>
                    <td>{{ balance.balanceDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="balance.bankAccount">
                            <a [routerLink]="['/bank-account', balance.bankAccount?.id, 'view']" >{{ balance.bankAccount?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="balance.period">
                            <a [routerLink]="['/period', balance.period?.id, 'view']" >{{ balance.period?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/balance', balance.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/balance', balance.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(balance)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="balances?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
